<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8"/>
        <title>顧客一覧</title>
        <style>
            body { font-size: 13px; font-family: Arial; }
            h1 { font-size: 14px;}
            [v-cloak] {display: none;}
        </style>
    </head>
    
    <body>

        <!-- View -->
        <div id ="myapp1" v-cloak=''>

            <h1>新規作成</h1>

            <input type="text" v-model="lastName" placeholder="姓"/>
            <input type="text" v-model="firstName" placeholder="名"/>

            <input type="button" v-on:click="insert" value="登録"/>
        </div>

        <div id ="myapp2" v-cloak=''>

            <h1>顧客リスト</h1>

            <table border="0">

                <tr>
                    <th>姓</th>
                    <th>名</th>
                    <th>編集</th>
                    <th>削除</th>
                </tr>

                <tr v-for="customer in customers">
                    <td>{{customer.lastName}}</td>
                    <td>{{customer.firstName}}</td>
                    <td><input type="button" v-on:click="update(customer)" value="編集"/></td>
                    <td><input type="button" v-on:click="del(customer)" value="削除"/></td>
                </tr>

            </table>

        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.1/vue.js"></script>
        <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

        <!-- View Model-->
        <script>

            var vm1 = new Vue({
            el: '#myapp1',
            data: {
            lastName: '',
            firstName: ''

            },
            methods: {
            insert: function () {
            alert(this.lastName + ':' + this.firstName + '未実装機能です。');
            this.lastName = '';
            this.firstName = '';
            },
            }

            });

            var url = 'http://localhost:8080/api/customers';

            var vm2 = axios.get(url).then(function (response) {

            return new Vue({
            el: '#myapp2',
            data: {
            customers: response.data
            },
            methods: {
            insert: function () {
            alert(this.lastName + ':' + this.firstName + '未実装機能です。');
            this.lastName = '';
            this.firstName = '';
            },
            del: function (customer) {

            if (!confirm("削除してもよろしいですか？")) {
            return;
            }

            var customers = this.customers;
            var index = customers.indexOf(customer);

            axios.delete(url + '/' + customer.id).then(function () {
            customers.splice(index, 1);
            });

            },
            update: function (customer) {
            alert('未実装機能です。');
            }

            }

            });

            });

        </script>

    </body>
</html>
