<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mvc.repository.SampleMapper">

    <select id="findAll" resultType="mvc.domain.Customer">
        
      SELECT 
        
        id, 
        first_name, 
        last_name, 
        user_name
        
      FROM customers
        
      <!--WHERE id = #{id}-->
    
    </select>

</mapper>